/* Шрифты */

@font-face {
  font-family: PT Sans;
  font-style: normal;
  src: url("/fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;

  line-height: 26px;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

/* Header */

.page-header {
  display: flex;
  width: 100%;
  padding: 0 70px;

  background-color: #ffffff;
  color: #000000;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.logo {
  display: block;
  width: 139px;
  height: 70px;
  margin-left: 70px;
}

/* Навигация стили */

.main-navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.logo-link {
  margin-right: 30px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  align-items: center;
}

.nav-list-user {
  margin-left: auto;
}

.nav-link {
  margin: 0 17px;
  color: #000000;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  height: 100%;
}

.nav-icon {
  width: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-active {
  border-bottom: 2px solid #000000;
}

.nav-button {
  padding: 8px 15px;
  width: 160px;
  height: 37px;

  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
}

/* Header END */

/* Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 485px;
  background-image: url("/images/Vector-svg/divider.svg"),
    url("/images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%, 100% 50%;
}

.hero-welcome {
  height: 352px;
  width: 458px;
  margin: 0 auto;
}

/* Hero END */

/* advantages */
.advantages-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
  list-style: none;
  max-width: 100%;
  height: 1535px;
}

.advantages-container-first {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;

  width: 100%;
  height: 384px;
}

/* First Advantage photo */
.first-advantages-picture {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  border: 0;

  order: 2;
}

.advantages-container-second {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 384px;
}

.advantages-container-third {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 384px;
}

/* Second Advantage photo */
.second-advantages-picture {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.advantages-container-fourth {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;
  width: 1200px;
  height: 384px;
}

.advantages-item {
  width: 400px;
  min-height: 384px;

  background-color: #82b3d3;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  display: flex;
  flex-direction: column;
  align-content: center;
}

.item-end {
  order: 2;
}

.item-start {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

/* Another colors */

.another-light-gray {
  background-color: #83b3d3 20%;
}

/* Another colors end */

/* White color advantages */

.advantage-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 230px;
  height: 56px;

  display: block;
  margin: 92px 85px 0 85px;
  padding: 0;
}

.adnvantage-number-white {
  color: #ffffff;
  display: block;

  margin: 30px 0 0 0;
  padding: 0;
}

.advantage-text-white {
  color: #ffffff;
  padding-top: 30px;
  margin: 0;
}

/* White color advantages end */

/* advantages end */

/* Тектст */

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 31px;
  padding-top: 63px;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  /* position: absolute; */
  margin-left: 273px;
  margin-right: 273px;
  color: #333333;
  background-color: #ffffff;
  width: 654px;
  height: 26px;
  padding-bottom: 90px;
}

.first-advantages-info span {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantage-1 p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 230px;
  height: 63px;
}

.advantages-text-white-1 {
  width: 230px;
  height: 63px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-text-white-2 {
  width: 230px;
  height: 63px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantage-2 span {
  width: 230px;
  height: 21px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-item-h {
  width: 230px;
  height: 28px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
  color: #000000;
  list-style: none;

  margin: 0;
}

/* Items with icon */
.advantages-item-h-icon {
  padding-top: 182px;
  margin: 0;
}

.advantages-text-icon {
  padding-top: 30px;
  margin: 0;
}

/* Items with icon end */

/* Advantages with numbers */

.advantages-item-h-numbers {
  padding-top: 103px;
  margin: 0;
}

.advantage-number {
  padding: 0;
  margin-top: 30px;

  display: block;
}

.advantages-text-number {
  padding-top: 30px;
  margin: 0;
}
/* Advantages with numbers end */

.advantages-text {
  padding: 29px 304px 0 304px;
  margin: 0;

  display: block;
  text-align: center;
}

.advantages-item-h-1 {
  width: 230px;
  height: 28px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}

/* Serch hotel */
.main-search {
  width: 1200px;
  height: 417px;
}

.head-search {
  text-align: center;
  padding-top: 91px;
  margin: 0;
}

.search-button {
  width: 574px;
  height: 60px;

  /* display: block; */
  margin: 56px 313px;

  font-size: 20px;
  line-height: 36px;
  border: 0;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
}

/* Search hotel end */

/* Subscribe */

.head-sub {
  text-align: center;
  color: #000000;

  padding-top: 94px;
  margin: 0;
}

.subscribe-button {
  min-width: 200px;
  height: 60px;

  color: #ffffff;
  font-size: 20px;
  line-height: 36px;

  background-color: #82b3d3;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border: 0;

  padding: 12px 0;
}

.email-string {
  background: #f2f2f2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border: 0;

  width: 600px;
  height: 60px;

  padding: 0;
  margin-top: 46px;
}

/* Subscribe end */

/* Footer */

/* Social media icons */

/* Social media icons end */

.page-footer {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.social-media-item {
  list-style: none;

  width: 47px;
  height: 40px;

  display: flex;
  align-self: stretch;
}

.footer-social-list {
  margin: 0;
  padding: 45px 0 0 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 183px;
  height: 40px;
}

.contacts-phone {
  width: 720px;
  min-height: 50px;

  font-size: 40px;
  line-height: 40px;

  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  padding: 5px 0 0 195px;
  margin: 40px 0 0 41px;
}

.academy-logo {
  width: 115px;
  height: 33px;
}

.academy-logotype {
  display: block;
  padding: 48px 70px 38px 41px;
  margin: 0;
}

.social-media-item:nth-child(3n) {
  margin-right: 10px;
}
/* Footer end */

/*Фоны*/
.main-background {
  background-image: url("/images/index/backgrund.jpg");
  width: 1200px;
  min-height: 485px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-sub {
  background-image: url("/images/index/background.jpg");
  width: 100%;
  min-height: 417px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.main-inner {
  background-image: url("../images/catalog/Filter-back.jpg");
  width: 100%;
  min-height: 393px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.main-sub {
  background-image: url("../images/index/background-sub.png");
  width: 100%;
  min-height: 411px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

/* Catalog.html */

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;

  text-align: left;
  margin: 0;
  padding: 35px 0 0 70px;
}

.search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
  padding-left: 72px;

  text-align: center;
}

/* Filter item */

/* Buttons */
.submit-button {
  width: 160px;
  height: 48px;

  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  border: 0;

  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.reset-button {
  width: 160px;
  height: 48px;

  color: #ffffff;
  border: 0;

  background-color: rgba(28, 28, 28, 0);
}

/*Buttons end  */

.catalog-filter-group {
  border: 0;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.catalog-filters {
  min-width: 366px;
  min-height: 149px;

  padding: 40px 0 0 70px;
  margin: 0;

  display: flex;
}

.breadcrumbs-link {
  width: 73px;
  height: 21px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  margin-left: 109px;
  padding: 0;
}

.breadcrubs {
  margin: 0;
  padding: 0;

  /* display: flex; */
}

.breadcrumbs-item-icon {
  width: 12px;
  height: 12px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;

  padding-bottom: 0;
  margin-bottom: 30px;
}

catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

/* Filter end */

/* Product cards */
.select-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  box-sizing: border-box;
  min-width: 290px;
  min-height: 49px;

  align-items: center;
  padding: 14px 129px 14px 20px;
  margin-left: 191px;

  display: flex;
  align-self: center;
}

.button {
  width: 48px;
  height: 48px;

  padding: 13px 12px 13px 12px;
  margin: 0;
  border: 0;
}

.product-card-button {
  width: 140px;
  min-height: 37px;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
}

.product-card-button-detailed {
  width: 140px;
  min-height: 37px;

  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 16px;
}

.product-card-rating {
  width: 140px;
  height: 37px;
  border: 0;

  text-transform: uppercase;
}

.select-container {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */

  width: 1057px;
  min-height: 49px;
  margin-top: 50px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card span {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.filter-content {
  width: 100%;
  min-height: 403px;
}

.catalog {
  width: 100%;
  min-height: 1212px;

  list-style: none;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 18px;
  line-height: 21px;
}

.breadcrubs {
  list-style: none;
}

.product-list {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 0 18px;

  min-height: 876px;

  padding: 0 71px 0 73px;
  margin-bottom: 44px;
}

.product-card {
  display: grid;
  padding: 20px;
}

.product-card-link {
  text-decoration: none;
}

.pagination {
  list-style: none;
}

.product-card-content {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  gap: 16px 0;
}

/* Product cards end */
/* Grey border */
.grey-border {
  width: 1055px;
  height: 0;

  border: 1px solid #e6e6e6;
  transform: rotate(180deg);

  margin: 0 auto;
}
/* Border end */

/* Pagination */

.pagination-container {
  display: flex;

  justify-content: space-between;

  padding: 0;
  width: 1056px;
  height: 60px;

  margin: 30px 0 25px 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;

  width: 60px;
  height: 60px;
  padding: 12px 24px;

  line-height: 36px;
  font-weight: 700px;

  text-decoration: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  display: block;
  box-sizing: border-box;

  width: 60px;
  height: 60px;

  text-decoration: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  color: #000000;
  background-color: #ffffff;
}

.pagination-link-long {
  display: block;
  box-sizing: border-box;

  width: 60px;
  height: 60px;
  padding: 12px 18px;

  line-height: 36px;
  font-weight: 700px;

  text-decoration: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;
  background-color: #82b3d3;
}

.selector-container {
  min-width: 286px;
  min-height: 49px;

  display: flex;
  align-items: center;
  gap: 51px;
}

/* .selector-text {
  margin: 0;
  padding: 0;

  min-width: 175px;
  min-height: 23px;

  display: flex;
  align-self: center;
} */
/* Pagination end */

/* Catalog sub */
.catalog-sub {
  width: 100%;
  min-height: 417px;
  background-color: #ffffff;
  text-align: center;
}
/* Catalog sub end */

/* Catalog.html end */
