/* Шрифты */

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font: weight 700px;
  src: url("fonts/ptsans-700.woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans" sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main-container {
  flex-grow: 1;
}

.page-container {
  width: 1240px;
  margin: 0 auto;
  display: block;
}

/* Навигация стили */

.main-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  margin-right: 30px;
  margin-left: 70px;
  order: -1;
}

.header-button {
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

/* Приемущества */
.first-advantages-info {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-items {
  max-width: 450px;
  max-height: 384px;
}

.logo {
  display: block;
  width: 139px;
  height: 70px;
  margin-left: 70px;
}

/* Футер */
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.first-advantages-info {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
}

/* Тектс */

.advantages-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  position: absolute;
}

.subtitle {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  width: 230px;
  height: 56px;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.navigation-link {
  color: #000000;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  position: absolute;
}

.advantage-1 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 230px;
  height: 56px;
}

.first-advantages-info span {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantage-1 p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 230px;
  height: 63px;
}

.advantages-item h3 {
  width: 230px;
  height: 28px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item p {
  width: 230px;
  height: 63px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantage-2 p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 230px;
  height: 63px;
}

.advantage-2 span {
  width: 230px;
  height: 21px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantage-2 h3 {
  width: 230px;
  height: 56px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-item-2 h3 {
  width: 230px;
  height: 28px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-2 span {
  width: 230px;
  height: 21px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.advantages-item-2 p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  width: 230px;
  height: 63px;
}

.main-search h2 {
  position: absolute;
  color: #000000;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-search p {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-sub h2 {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-sub p {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.contacts-phone {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.inner-header-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  position: absolute;
  color: #ffffff;
}

.breadcrumbs-link {
  width: 73px;
  height: 21px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}

catalog-filter-item {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.search {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-card-title {
  position: absolute;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card span {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

nav a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
}

/*Фоны*/
.main-background {
  background-image: url("images/index/backgrund.jpg");
  position: absolute;
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-sub {
  background-image: url("images/index/background.jpg");
  position: absolute;
  width: 1200px;
  height: 411px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-inner {
  background-image: url("images\catalog\Filter back.jpg");
  position: absolute;
  width: 1200px;
  height: 393px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

html {
  height: 100%;
  margin: 0;
  flex-grow: 1;
}

li {
  list-style-type: none;
}
