/* Шрифты */

@font-face {
  font-family: PT Sans;
  font-style: normal;
  src: url("/fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;

  line-height: 26px;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Header */

.page-header {
  display: flex;
  width: 100%;
  padding: 0 70px;

  background-color: #ffffff;
  color: #000000;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.logo {
  display: block;
  width: 139px;
  height: 70px;
  margin-left: 70px;
}

/* Навигация стили */

.main-navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.logo-link {
  margin-right: 30px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  align-items: center;
}

.nav-list-user {
  margin-left: auto;
}

.nav-link {
  margin: 0 17px;
  color: #000000;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  height: 100%;
}

.nav-icon {
  width: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-active {
  border-bottom: 2px solid #000000;
}

.nav-button {
  padding: 8px 15px;
  width: 160px;
  height: 37px;

  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

/* Header END */

/* Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 485px;
  background-image: url("/images/Vector-svg/divider.svg"),
    url("/images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%, 100% 50%;
}

.hero-welcome {
  height: 352px;
  width: 458px;
  margin: 0 auto;
}

/* Hero END */

/* advantages */
.advantages-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
  list-style: none;
  max-width: 100%;
  height: 1535px;
}

.advantages-container-first {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;

  width: 1200px;
  height: 384px;
}

/* First Advantage photo */
/* .first-advantages-picture {



  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.advantages-container-second {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;
  width: 1200px;
  height: 384px;
}

.advantages-container-third {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;
  width: 1200px;
  height: 384px;
}

/* Second Advantage photo */
/* .second-advantages-picture {
  width: 800px;
  height: 384px;
  display: flex;
  justify-content: flex-start;
  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.advantages-container-fourth {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0;
  margin: 0;
  width: 1200px;
  height: 384px;
}

.advantages-item {
  max-width: 400px;
  max-height: 384px;

  background-color: #82b3d3;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.item-end {
  display: flex;
  justify-content: flex-end;
}

.item-start {
  display: flex;
  justify-content: flex-start;
}

/* Another colors */

.another-light-gray {
  background-color: #83b3d3 20%;
}

/* Another colors end */

/* White color advantages */

.advantage-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 230px;
  height: 56px;

  margin: 0;
  padding-top: 92px;
}

.adnvantage-number-white {
  color: #ffffff;
  display: block;

  margin: 30px 0 0 0;
}

.advantage-text-white {
  color: #ffffff;
  padding-top: 30px;
  margin: 0;
}

/* White color advantages end */

/* advantages end */

/* Тектст */

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 31px;
  padding-top: 63px;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  /* position: absolute; */
  margin-left: 273px;
  margin-right: 273px;
  color: #333333;
  background-color: #ffffff;
  width: 654px;
  height: 26px;
  padding-bottom: 90px;
}

.first-advantages-info span {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantage-1 p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 230px;
  height: 63px;
}

.advantages-text-white-1 {
  width: 230px;
  height: 63px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-text-white-2 {
  width: 230px;
  height: 63px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantage-2 span {
  width: 230px;
  height: 21px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-item-h {
  width: 230px;
  height: 28px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
  color: #000000;
  list-style: none;

  margin: 0;
}

/* Items with icon */
.advantages-item-h-icon {
  padding-top: 182px;
  margin: 0;
}

.advantages-text-icon {
  padding-top: 30px;
  margin: 0;
}

/* Items with icon end */

/* Advantages with numbers */

.advantages-item-h-numbers {
  padding-top: 103px;
  margin: 0;
}

.advantage-number {
  padding: 0;
  margin-top: 30px;

  display: block;
}

.advantages-text-number {
  padding-top: 30px;
  margin: 0;
}
/* Advantages with numbers end */

.advantages-text {
  padding: 29px 0 0 304px;
  margin: 0;
}

.advantages-item-h-1 {
  width: 230px;
  height: 28px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}

/* Serch hotel */
.main-search {
  width: 1200px;
  height: 417px;
}

.head-search {
  text-align: center;
  padding-top: 91px;
  margin: 0;
}

.search-button {
  width: 574px;
  height: 60px;

  /* display: block; */
  margin: 56px 313px;

  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
}

/* Search hotel end */

/* Subscribe */

.main-sub {
  width: 1200px;
  height: 417px;
}

.head-sub {
  text-align: center;
  color: #000000;
}

.subscribe-button {
  width: 200px;
  height: 60px;

  color: #ffffff;
  font-size: 20px;
  line-height: 36px;

  background-color: #82b3d3;
}

.email-string {
  background: #f2f2f2;
  border-radius: 0 10px 10px 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);

  width: 600px;
  height: 60px;
}

/* Subscribe end */

/* Footer */
.page-footer {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.social-media-item {
  list-style: none;
}

.footer-social-list {
  margin: 0;
  gap: 1rem;
  padding-top: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts-phone {
  width: 720px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-self: center;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.academy-logo {
  width: 115px;
  height: 33px;
}
/* Footer end */

/*Фоны*/
.main-background {
  background-image: url("/images/index/backgrund.jpg");
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-sub {
  background-image: url("/images/index/background.jpg");
  width: 1200px;
  height: 417px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.main-inner {
  background-image: url("/images/catalog/Filter back.jpg");
  width: 1200px;
  height: 393px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.subscribe-background {
  background-image: url("/images/index/background\(2\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

/* Catalog.html */
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  width: 73px;
  height: 21px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}

catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card span {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.filter-content {
  width: 1200px;
  height: 403px;
}

.catalog {
  width: 1200px;
  height: 1212px;

  display: flex;
}

/* Catalog.html end */
